body {
  background-image: URL("IMG_0206.jpg");
  background-size: 100%, 100%;
  background-color: gray;
}

.panel {
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.logo {
  height: 3vw;
  width: auto;
}

.logo:last-child {
  padding-right: 2vw;
}
